*{
    margin: 0;
    padding: 0;
    text-align: center;
}

/* for headings... */
h1{
    background-color: #041F1E;
    color: white;
    height: 5rem;
    line-height: 5rem;
}

.choice{
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 30px; */
    
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    gap: 3rem;
    margin-top: 5rem;
}

.choice:hover{
    /* opacity: 0.5; */
    background-color: #1E2D2F;
    border-radius: 50%;
    cursor: pointer;
}

.score_board{
    display: flex;
    /* horizontally center */
    justify-content: center;
    /* vertically center */
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 25px;
}

#user-score , #comp-score{
    font-size: 3rem;
}

.msg-container{
    margin-top: 60px;
}
#msg{
    background-color: #041F1E;
    color: white;
    font-size: 2rem;
    display: inline;
    padding: 10px;
    border-radius: 10px;
}